@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewBag.CacheValue</h2>
<h3>Catalog List</h3>
<ul>
    @foreach (Catalog item in @ViewBag.CatalogList)
    {
        <li>
            <strong>@item.Name</strong> - @item.Description <br />
            Price: @item.Price <br />
            Created At: @item.CreatedAt <br />
            Active: @(item.IsActive ? "Yes" : "No") <br />
            Tags: @string.Join(", ", item.Tags)
        </li>
    }

</ul>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
